footer{
    background-image: linear-gradient(blue, blueviolet);
    margin: 0;
}
.footerList{
    margin: 0 auto;
    padding: 50px;
    list-style: none;
    text-align: center;
}
.rrssFooter{
    list-style-type: square;
    list-style-position: inside;
    display: inline-block;
    width: 15%;
}
.rrssFooter a:hover{
    font-size: 20px;
    transition: 1s;
}

.behance{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
   
}
.ig{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
  
}
.fb{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    
}