.titleHome {
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 60px 0px 60px; }
  
  .text__Home {
    color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px }
  
  #porta {
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 50px; }
  
  .porta__Home {
    text-align: center; }
  
  .porta__Home img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s; }
  
  .contact__me {
    text-align: center;
    text-decoration-line: underline;
    margin: 60px; }
  
  .contact__link h2 {
    color: black; }
  
  .contact__link a:hover {
    color: blueviolet;
    font-size: 50px;
    transition: 1s; }
  