.w-100 {
    height: 30vh;
}
.testimoniesTitle{
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #fefbf7;
    margin: 0;
}
.carousel-caption{
    top: 20px;
}
//RESPONSIVE
@media (max-width: 3000px) and (min-width: 1281px){
    .w-100{
        height: 40vh;
    }
    .d-none{
        display: block !important;
    }
}
@media (max-width: 1280px) and (min-width: 769px){
    .w-100{
        height: 40vh;
    }
    .d-none{
        display: block !important;
    }
}
@media (max-width: 768px) and (min-width: 469px){
    .w-100{
        height: 70vh;
    }
    .d-none{
        display: block !important;
    }
}
@media (max-width: 468px) and (min-width: 327px){
    .w-100{
        height: 70vh;
    }
    .d-none{
        display: block !important;
    }
}
@media (max-width: 326px) and (min-width: 227px){
    .w-100{
        height: 90vh;
    }
    .d-none{
        display: block !important;
    }
}