* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: whitesmoke;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7vh;
  padding: 12px;
  position: fixed;
  width: 100%;
}

header nav {
  margin-right: n 20px;
}

header .nav__logo {
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 0 50px 0 50px;
  text-decoration: none;
}

header .nav__ul {
  margin: 0;
  z-index: 60;
  padding-left: 0;
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: white;
  padding: 0;
}

header .nav__ul ul {
  position: absolute;
  display: none;
}

header .nav__ul ul li {
  font-size: 1em;
  display: block;
  padding: 10px;
  background-color: black;
  margin-left: -5px;
}

header .nav__ul ul li li :hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .nav__li {
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-text-decoration-style: over;
          text-decoration-style: over;
}

header .nav__li a {
  text-decoration: none;
  color: white;
}

header a:link {
  text-decoration: none;
}

header a:hover {
  color: greenyellow;
}

header ul.nav__ul li:hover ul {
  display: block;
  padding-top: 10px;
  padding-left: 0px;
}

@media (max-width: 500px) and (min-width: 0px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5vh;
    padding-bottom: 60px;
  }
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0ff62), to(#a3c8ff));
  background-image: linear-gradient(#d0ff62, #a3c8ff);
  margin: 0 auto;
  overflow: auto;
  border-top: solid black 1px;
}

footer .footer__List {
  padding: 50px;
  list-style: none;
  text-align: center;
}

footer .footer__List .rrss__Footer {
  list-style-type: square;
  list-style-position: inside;
  display: inline-block;
  width: 15%;
}

footer .footer__List .rrss__Footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer .footer__List .rrss__Footer a:hover {
  font-size: 1.2em;
  -webkit-transition: 1s;
  transition: 1s;
  color: #7bbbff;
}

@media (max-width: 650px) and (min-width: 0px) {
  .footer__List {
    font-size: 15px;
    width: 15%;
    line-height: 60px;
    display: -ms-inline-grid;
    display: inline-grid;
  }
}

.home {
  color: black;
  background-image: url("/Users/cristeltapia/Desktop/git/primerRepositorio/img/texture.jpeg");
  background-position: center;
  padding-bottom: 50px;
  height: 55vh;
  text-align: center;
  border-bottom: solid black 1px;
}

.home__text {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1em;
  font-weight: bold;
}

.home__title {
  font-size: 3em;
  font-weight: lighter;
  text-transform: none;
  margin-bottom: 8px;
  padding: 90px 300px 0px 300px;
}

.porta__Home {
  text-align: center;
  padding-top: 70px;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.porta__Home img {
  max-height: 70vh;
  max-width: 50vh;
}

.porta__Home img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact {
  text-align: center;
  margin: 60px;
}

.contact__link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.contact__link a:hover {
  color: greenyellow;
  font-size: 1.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

@media (max-width: 1700px) and (min-width: 1025px) {
  .home .home__title {
    padding: 90px 200px 0px 200px;
  }
  .porta__Home img {
    width: 50vh;
  }
}

@media (max-width: 1024px) and (min-width: 905px) {
  .home {
    height: 29vh;
  }
  .home .home__title {
    padding: 90px 100px 0px 100px;
    font-size: 2em;
  }
  .porta__Home img {
    width: 40vh;
  }
}

@media (max-width: 905px) and (min-width: 650px) {
  .home {
    height: 45vh;
  }
  .home .home__title {
    padding: 130px 100px 0px 100px;
    font-size: 2em;
  }
  .porta__Home img {
    width: 30vh;
  }
}

@media (max-width: 649px) and (min-width: 420px) {
  .home {
    height: 48vh;
  }
  .home .home__title {
    padding: 100px 80px 0px 80px;
    font-size: 1.8em;
  }
  .porta__Home img {
    width: 30vh;
  }
}

@media (max-width: 419px) and (min-width: 0px) {
  .home {
    height: 54vh;
  }
  .home .home__title {
    padding: 90px 40px 0px 40px;
    font-size: 2em;
  }
  .porta__Home img {
    width: 40vh;
  }
}

/*CONTACTAME*/
.formulario {
  padding-bottom: 50px;
  padding-top: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactForm {
  height: 40vh;
  padding: 70px 400px 50px 400px;
  background-image: url("/Users/cristeltapia/Desktop/git/primerRepositorio/img/texture.jpeg");
  background-position: center;
  text-align: center;
  color: black;
  font-size: 1em;
  border-bottom: solid black 1px;
}

.contactForm h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 8px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea::focus:placeholder {
  color: black;
}

input:focus:-ms-input-placeholder, textarea::focus:placeholder {
  color: black;
}

input:focus::-ms-input-placeholder, textarea::focus:placeholder {
  color: black;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* hover */
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: greenyellow;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover::-ms-input-placeholder, textarea:hover::-ms-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: greenyellow;
}

input:hover:focus:-ms-input-placeholder, textarea:hover:focus:-ms-input-placeholder {
  color: greenyellow;
}

input:hover:focus::-ms-input-placeholder, textarea:hover:focus::-ms-input-placeholder {
  color: greenyellow;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: greenyellow;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover::-ms-input-placeholder, textarea:hover::-ms-input-placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: greenyellow;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: greenyellow;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: black;
  border: solid 1px black;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: greenyellow;
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: black;
  font-size: 0.875em;
  border: solid 1px black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: greenyellow;
  color: black;
}

#submit {
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-size: 0.875em;
  color: black;
  outline: none;
  cursor: pointer;
  border: solid 1px black;
  border-top: none;
}

#submit:hover {
  color: black;
}

@media (max-width: 1200px) and (min-width: 920px) {
  .contactForm {
    padding: 70px 200px 50px 200px;
  }
}

@media (max-width: 919px) and (min-width: 650px) {
  .contactForm {
    height: 50vh;
    padding: 70px 100px 50px 100px;
  }
}

@media (max-width: 649px) and (min-width: 420px) {
  .contactForm {
    height: 65vh;
    padding: 70px 70px 50px 70px;
  }
  #form {
    width: 50vw;
  }
  #form #name, #form #email, #form fieldset, #form #message, #form #submit {
    width: 250px;
  }
}

@media (max-width: 419px) and (min-width: 330px) {
  .contactForm {
    height: 70vh;
    padding: 70px 40px 50px 40px;
  }
  #form {
    width: 50vw;
  }
  #form #name, #form #email, #form fieldset, #form #message, #form #submit {
    width: 200px;
  }
}

@media (max-width: 329px) and (min-width: 0px) {
  .contactForm {
    height: 80vh;
    padding: 70px 40px 50px 40px;
  }
  #form {
    width: 50vw;
  }
  #form #name, #form #email, #form fieldset, #form #message, #form #submit {
    width: 200px;
  }
}

.porta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  place-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.porta h2 {
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 20px;
}

#UXUI, #branding, #digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
}

#UXUI .porta__title, #branding .porta__title, #digital .porta__title {
  padding-top: 10px;
}

.aboutMe {
  padding-top: 90px;
  background-image: url(/Users/cristeltapia/Desktop/git/primerRepositorio/img/TEXUTRE.jpeg);
  background-size: cover;
  padding-bottom: 30px;
  height: 40vh;
  text-align: center;
  border-bottom: solid black 1px;
}

.aboutMe .aboutMe__text {
  padding-left: 200px;
  padding-right: 200px;
}

#miCv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  place-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobreMi {
  display: inline-block;
  margin: 20px;
}

.sobreMi article {
  background-color: #f9f9f9;
  border: solid black 1px;
  width: 500px;
  height: 50vh;
  padding: 30px;
}

.sobreMi article h4 {
  font-size: 1em;
  font-weight: 700;
}

.habilidades {
  margin: 70px;
}

.habilidades h4 {
  text-align: center;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  font-weight: 900;
}

.habilidades h3 {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 836px) and (min-width: 630px) {
  .aboutMe {
    height: 50vh;
  }
  .aboutMe .aboutMe__text {
    padding-left: 100px;
    padding-right: 100px;
  }
  #miCV.sobreMi {
    width: 50vw;
  }
}

@media (max-width: 629px) and (min-width: 440px) {
  .aboutMe {
    height: 55vh;
  }
  .aboutMe .aboutMe__text {
    padding-left: 50px;
    padding-right: 50px;
  }
  #miCV.sobreMi {
    width: 50vw;
  }
  .sobreMi article {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 439px) and (min-width: 0px) {
  .aboutMe {
    height: 70vh;
  }
  .aboutMe .aboutMe__text {
    padding-left: 50px;
    padding-right: 50px;
  }
  #miCV.sobreMi {
    width: 50vw;
  }
  .sobreMi article {
    width: 200px;
    height: auto;
  }
  .habilidades h4 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=estilo.css.map */