//FOOTER
footer {
    background-image: linear-gradient(rgb(208, 255, 98), rgb(163, 200, 255));
    margin: 0 auto;
    overflow: auto;
    border-top: solid black 1px;
    .footer__List {
        padding: 50px;
        list-style: none;
        text-align: center; 
        .rrss__Footer {
            list-style-type: square;
            list-style-position: inside;
            display: inline-block;
            width: 15%;
            a{
            color: black;
            text-decoration: none;
            font-weight: bold; 
            } 
            & a:hover{
                font-size: 1.2em;
                transition: 1s;
                color: rgb(123, 187, 255);
            }
        } 
    }
}

@media (max-width: 650px) and (min-width: 0px){
    .footer__List{
        font-size: 15px;
        width: 15%;
        line-height: 60px; 
        display: inline-grid;
    }
}